h1 {
    
}
body {
    background-image: url(../img/background.jpg);
    background-size: contain;
}

p {
    color: white;
}

p.projects{
	color: white;
}

p.intro{
	color: grey;
}

p.feedback{
	color: grey;
}
#backimg {
    background-image: url(../img/background.jpg);
    
    
}